name: Build and push image

on:
  workflow_call:
    inputs:
      dockerhub-username:
        description: 'Docker Hub username'
        required: false
        type: string
      dockerhub-repository:
        description: 'Docker Hub repository name (e.g., username/repository)'
        required: false
        type: string
    secrets:
      dockerhub-token:
        description: 'Docker Hub access token'
        required: false
  push:
    branches: [ $default-branch ]
    tags: ['*']
  pull_request:
    branches: [ $default-branch ]

permissions:
  contents: read
  packages: write

jobs:
  build-multiple-platform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
            ${{ inputs.dockerhub-repository && inputs.dockerhub-repository || '' }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: |
            linux/amd64,linux/arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request' && inputs.dockerhub-username && secrets.dockerhub-token
        uses: docker/login-action@v3
        with:
          username: ${{ inputs.dockerhub-username }}
          password: ${{ secrets.dockerhub-token }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: |
            linux/amd64,linux/arm64
